// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import 'theme_variables';

//<------ footer --------->
#wrapper-footer{
  background-color: $primary;
  color: $secondary;
  border-top-color: $secondary;
  border-top-width: thick;
  border-top-style: solid;
}

.social-menu {
  margin-top: 2%;
  font-size: 100%;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0 5%;
      a {
        display: block;
        text-decoration: none;
        color: $secondary;
        list-style: none;
      }
      :hover{
        color: $highlight;
      }
    }
  }
}


.footer-bottom-nav{
  padding: 0;
  margin-top: 5%;
  ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      margin: 0;
      padding: 0;
      border-left-color: $tertiary;
      border-right-color: $tertiary;
      border-left-style: solid;
      border-right-style: solid;
      border-left-width: thin;
      border-right-width: thin;
      text-align: center;
      a{
        display: block;
        text-decoration: none;
        color: $secondary;
        list-style: none;
        padding: 1% 2%;
      }
      :hover{
        color: $highlight;
      }
    }
  }
}

.site-info{
  width: 100%;
  text-align: center;
  margin-top: 5%;
  padding-top: 2%;
  border-top-color: $tertiary;
  border-top-style: solid;
  border-top-width: thin;
  a{
    color: $secondary;
    font-weight: bolder;
  }
}

//<------ end of footer --------->
